body {
  margin: 0 ;
 
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #F6F9FA;
  padding: .3rem;
  outline: 1px solid grey;
}
.skip-link {
  position: fixed;
  top: -40px;
      left: 0;
      background-color: #000;
      color: #fff;
      padding: 8px;
      z-index: 9999;
}
.skip-link:focus {
  top: 0;
}
.repository-activity {
  top: 0;
  bottom:0;
  position: sticky;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  overflow-y: auto;
  flex: 0 0 350px;
  max-width: 350px;
  margin-top: .7px;
  border-right: 1px solid grey;
}
.repository-activity-container {
  padding:16px 24px 0px 24px;

}

main {
  background-color: #F6F9FA;
  display: flex;
}
.rest {
  display: flex;
  flex: 1; /* Add flex: 1 to allow the div to grow and occupy remaining space */
}
.feed-section {
  padding-inline: 32px;
  margin-top: 16px;
  width:100%
}

.nav-left {
  display: flex;
  align-items: center;
}
.nav-right {
  display: flex;
  align-items: center;
}
.card {
  background-color:white;
  padding: 1rem;
  border-radius: 5px;
  outline:1px solid grey;
}
.feed-header {
  display:flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-bottom:25px;
}
.feed-header-left {
  display: flex;
}
.feed-header-right {
  display: flex;
}
.changes-section {
  max-width: 350px;
}
.links {
  list-style: none;
}
.links li a{
  text-decoration: none;
}
footer {
  display: flex;
}