body {
  margin: 0 ;
 
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #F6F9FA;
  padding: 1rem;
  outline: 1px solid grey;
}
.skip-link {
  position: fixed;
  top: -40px;
      left: 0;
      background-color: #000;
      color: #fff;
      padding: 8px;
      z-index: 9999;
}
.skip-link:focus {
  top: 0;
}
.repository-activity {
  top: 0;
  bottom:0;
  position: sticky;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  overflow-y: auto;
  flex: 0 0 350px;
  max-width: 350px;
}

main {
  background-color: #F6F9FA;
  display: flex;
}
.rest {
  display: flex;
  flex: 1; /* Add flex: 1 to allow the div to grow and occupy remaining space */
}